.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
    text-align: center;
}

.navbar {
    display: flex;
    position: absolute; /* Position it in the corner */
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

.navbar button {
    background-color: #9b59b6; /* Purple background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    margin: 0 5px; /* Spacing between buttons */
    padding: 10px 15px; /* Padding for buttons */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.navbar button:hover {
    background-color: #8e44ad; /* Darker purple on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.tiles-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.tile {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #9b59b6;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    background-color: #f7f3ff;
}

.about {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 1.5em;
}