.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.tiles-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.tile {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #9b59b6;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    background-color: #f7f3ff;
}

.about {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}